  <body>

    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}/">{{ site.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li{% if page.slug == "home" %} class="active"{% endif %}>
                  <a href="{{ site.url }}/">Home</a>
                </li>
                <li{% if page.slug == "about" %} class="active"{% endif %}>
                  <a href="{{ site.url }}/about">About</a>
                </li>
                <li{% if page.slug == "blog" %} class="active"{% endif %}>
                  <a href="{{ site.url }}/blog">Blog</a>
                </li>
                <li{% if page.slug == "contact" %} class="active"{% endif %}>
                  <a href="{{ site.url }}/contact">Contact</a>
                </li>
                <li{% if page.slug == "kb" %} class="active"{% endif %}>
                  <a href="{{ site.url }}/kb">Knowledge Base</a>
                </li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>