<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.meta.description %}<meta name="description" content="{{ site.meta.description }}">{% endif %}
    {% if site.meta.author %}<meta name="author" content="{{ site.meta.author }}">{% endif %}
    <title>{{ site.name }} {% if page.title %} | {{ page.title }} {% endif %}</title>

    <!-- Compiled and minified CSS -->
    {% stylesheet application %}
  </head>