    <!-- head, meta, title, CSS, favicon, etc. -->
    {% include header.html %}

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.title }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

    <!-- Include the footer layout -->
    {% include footer.html %}
